html, body {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffeccc ;
    color: rgba(0, 0, 0, 0.8);
}

.header {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 150px auto;
    max-width: 1000px;
    .text-container {
        .title {
            font-size: 64px;
            margin-bottom: 10px;
        }
        .subtitle {
            font-size: 14px;
            margin: 0;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.5);
        }
        .description {
            border-left: 2px solid #62466b;
            padding-left: 15px;
            margin: 10px 0;
            font-size: 12px;
        }
    }
    .image-container {
        max-width: 200px;
        > img {
            border-radius: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
}

.thumbnails-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    /*
        "grid-template-columns"
        Aquesta linia jo he intentat entendre-la mil vegades, 
        però sempre la he de tornar a buscar a internet.
        No digas nada, solo dalde a laik
    */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 25px;
    .thumbnail {
        text-align: center;
        > img {
            object-fit: cover;
            width: 100%;
        }
    }
}